body {
    text-align: center;
}
/* all cards are in the container */
.container{
    display: grid;
    grid-gap: 10px 30px;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 60vw;
}
/* hides the color of the links and underscore. */
.container a {
    text-decoration: none;
    color: black;
}
/* * styling for every button */
button {
    margin-top: 10%;
    padding: 10px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.686);
    color: rgba(203, 43, 147, 0.664);
    border-radius: 5px;
}
/*content for every container before hover */
.front {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
}
/* styling on the h1 before you hover */
.front h1 {
    background-color: rgba(0, 0, 0, 0.663);
    width: 100vw;
    color: rgb(203, 43, 147);
    mix-blend-mode:hard-light;
}
/* ---------------------------card 1----------------------------- */
/* *styling for the background and the shape of the cards */
.cont {
    padding: 0;
    margin: 0;
    background-image: url(aqua.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    border: rgba(239, 42, 183, 0.404) 10px groove;
    box-shadow: 10px 0 10px 0 black;

}


/* basic dimension and styling of the cards content */

.card-1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transition: ease-in-out 1s ;
}

/* styling on the hidden content that appears when hovered */

.card-1 h1 {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}


/* makes the content on the front disappear on hover */

.cont:hover .front {
    display: none;
}

/* allows the content in the card to appear when hovered */

.cont:hover .card-1 { 
    opacity: 100%;
    height: 100%;
    background-image: 
    linear-gradient( 
        rgba(255, 255, 255, 0), 
        rgb(72, 72, 72));
    animation: bottom-to-top 1s ease-in-out;
}

/* ---------------------------card 2----------------------------- */

/* *styling for the background and the shape of the cards */

.cont-2 {
    padding: 0;
    margin: 0;
    background-image: url(aqua.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: rgba(239, 42, 183, 0.404) 10px groove;
    box-shadow: 10px 0 10px 0 black;

}

/* basic dimension and styling of the cards content */

.card-2 {
    display: flex;
    flex-direction: column;

    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transition: ease-in-out 1s ;
}

/* styling on the hidden content that appears when hovered */

.card-2 h1 {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

/* makes the content on the front disappear on hover */
.cont-2:hover .front {
    display: none;
}

/* allows the content in the card to appear when hovered */
/* all content in this hover will be transitioned on hover */
.cont-2:hover .card-2 { 
    opacity: 100%; /* makes text visible on hover*/
    height: 100%;
    background-image:    
    linear-gradient( 
        rgba(255, 255, 255, 0), 
        rgb(72, 72, 72));
    animation: bottom-to-top 1s ease-in-out;
}

/* ---------------------------card 3----------------------------- */

/* *styling for the background and the shape of the cards */

.cont-3 {
    padding: 0;
    margin: 0;
    background-image: url(aqua.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: rgba(239, 42, 183, 0.404) 10px groove;
    box-shadow: 10px 0 10px 0 black;

}

/* basic dimension and styling of the cards content */

.card-3 {
    display: flex;
    flex-direction: column;

    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transition: ease-in-out 1s ;
}

/* styling on the hidden content that appears when hovered */

.card-3 h1 {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}
/* makes the content on the front disappear on hover */

.cont-3:hover .front {
    display: none;
}

/* allows the content in the card to appear when hovered */
.cont-3:hover .card-3 { 
    opacity: 100%;
    height: 100%;
    background-image:    
    linear-gradient( 
        rgba(255, 255, 255, 0), 
        rgb(72, 72, 72));
    animation: bottom-to-top 1s ease-in-out;
}

/* ---------------------------card 4----------------------------- */

/* *styling for the background and the shape of the cards */

.cont-4 {
    padding: 0;
    margin: 0;
    background-image: url(aqua.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    border: rgba(239, 42, 183, 0.404) 10px groove;
    box-shadow: 10px 0 10px 0 black;

}

/* basic dimension and styling of the cards content */
.card-4 {
    display: flex;
    flex-direction: column;

    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
    transition: ease-in-out 1s ;
}

/* styling on the hidden content that appears when hovered */
.card-4 h1 {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}
/* makes the content on the front disappear on hover */
.cont-4:hover .front {
    display: none;
}

/* allows the content in the card to appear when hovered */

.cont-4:hover .card-4 { 
    opacity: 100%;
    height: 100%;
    background-image:    
    linear-gradient( 
        rgba(255, 255, 255, 0), 
        rgb(72, 72, 72));
    animation: bottom-to-top 1s ease-in-out;
}
/* * Adding the animation to the cards */
@keyframes bottom-to-top {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}